:root {
  --background: #fff;
  --foreground: #000;
  --link: #007bc7;
  --text: rgb(60, 66, 87);
  --accent: #ccc;
  --accent2: #eee;
  --accent3: #f7f7f7;
  --shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 13px rgba(0, 0, 0, 0.08);
  --highlight: #c56a86;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131516;
    --foreground: rgba(255, 255, 255, 0.9);
    --link: #007bc7;
    --text: #ccc;
    --accent: #666;
    --accent2: #1e1e1e;
    --accent3: #0c0c0c;
    --shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 13px rgba(0, 0, 0, 0.08);
    --highlight: #c56a86;
  }
}
