@import './theme.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: unset;
  width: 100vw;
  overflow: auto;
  background: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
textarea,
button {
  font: unset;
  font-family: 'Inter', sans-serif;
}

p {
  overflow-wrap: break-word;

  &:not(:last-of-type) {
    margin-bottom: 1em !important;
  }
}

a,
a:visited {
  color: var(--text-blue);
}

/* Hack editor's css for user-tagging feature, tried other ways couldn't apply styles*/
.suggestion-item {
  padding: 5px;
}

.suggestion-item-active {
  background: var(--highlight);
  color: var(--text-primary);
}

.suggestion-item-list {
  background: var(--bg-primary);
  border: 1px solid #999;
}

.prosemirror-mention-node {
  color: var(--text-blue);
}

.prosemirror-suggestion {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #999;
}

/* hack: remove trigger icon from markdown editor */
.block-menu-trigger {
  display: none !important;
}
