@import './theme.css';

/* :root {
  --bg-primary: #fff;
  --text-primary-primary: #000;
  --text-primary-blue: #007bc7;
  --text-primary: rgb(60, 66, 87);
  --accent: #ccc;
  --accent2: #eee;
  --accent3: #f7f7f7;
  --shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 13px rgba(0, 0, 0, 0.08);
  --highlight: #fa52a0;
  --highlight2: #00a3ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: var(--bg-primary);
    --text-primary-primary: var(--bg-secondary);
    --text-primary-blue: var(--text-primary-blue);
    --text-primary: var(--text-primary-primary);
    --accent: var(--border-primary);
    --accent2: var(--border-secondary);
    --accent3: #0c0c0c;
    --shadow: 0px 0px 4px rgba(0, 0, 0, 0.33), 0px 4px 13px rgba(0, 0, 0, 0.6);
    --highlight: #fa52a0;
    --highlight2: #00a3ff;
  }
} */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: unset;
  width: 100vw;
  overflow: auto;
  background: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
textarea,
button {
  font: unset;
  font-family: 'Inter', sans-serif;
}

p {
  overflow-wrap: break-word;
}

a:visited {
  color: var(--text-primary-blue);
}

/* Hack editor's css for user-tagging feature, tried other ways couldn't apply styles*/
.suggestion-item {
  padding: 5px;
}

.suggestion-item-active {
  background: var(--highlight);
  color: var(--text-primary-primary);
}

.suggestion-item-list {
  background: var(--bg-primary);
  border: 1px solid #999;
}

.prosemirror-mention-node {
  color: var(--text-primary-blue);
}

.prosemirror-suggestion {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #999;
}
